
body {
	background-image: url("../images/background.jpg");
}

.jumbotron {
	background-color: #ffffff;
}

#gameSection, #scoreSection {
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
}


#buttonSection {

	padding: 0px;
	padding-top: 50px;
	padding-bottom: 25px;
}


h1, h2, h3 {
	font-family: 'Roboto', cursive;
}

p {
	font-family: 'Helvetica', sans-serif;
}

.numberBox {
	font-size: 100px;
	margin: 0px;
}

.icons {
	display: inline-block;
  	max-width: 100px;
  	max-height: 100px;
  	width: auto;
  	height: auto;
  	margin:10px;
}